.about{
  width: 100%;
  position: relative;
}
.about-us-image {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 600px;
  box-shadow: 0 0.188em 1.550em rgb(12, 12, 12);
}

.about-us-image {
  max-width: 100%;
  padding-top: 0%;
  top: 0;
  left: 0;
  position: relative;
}

.text-about{
  text-align: center;
    font-size: 5vh;
    margin-top: 3%;
    margin-bottom: 3%;
   color: black;
   font-family: "CustomFont";
  
}
@font-face {
  font-family: "CustomFont";
  src: url('./fonts/RolexLight.woff2');
}
.align{
  padding-top: 4%;
  padding-bottom: 3%;
}
.content-about{
  text-align: center;
  font-size: 4vh;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}



@media (min-width: 350px) and (max-width: 550px) {
  .text-about {
    font-size:3vh;
    }
    .content-about {
      font-size:2vh;
      }
      .text-about2{
        font-size:3vh;
      }
}
@media (min-width: 550px) and (max-width: 850px) {
  .text-about {
    font-size: 4vh;
    }
    .content-about {
      font-size:3vh;
      }
      .about-us-image{
        padding-top: 10%;
      }
      .text-about2{
        font-size:4vh;
      }
}
.image1{
  position: absolute;
  max-width: 1600px;
  width: 30%;
  height: auto;
  max-height: 700px;
  margin-left: 15%;
  margin-bottom: 10%;
  margin-top: 10%;
  z-index: 1;
  box-shadow: 0 0.188em 1.550em rgb(20, 20, 20);
  transition: 1s;
}
.image1:hover {
  transform: scale(1.1);
}
.new-margin2{
  margin-left: 3% !important;
  margin-bottom: 10% !important;
}
.new-margin1{
  margin-left: 20% !important;
  margin-bottom: 10% !important;
}
.new-margin1-1{
  margin-left: 15% !important;
  margin-bottom: 10% !important;
}

.image2{
  position: relative;
  max-width: 1600px;
  width: 30%;
  height: auto;
  max-height: 700px;
  margin-bottom: 5%;
  margin-top: 5%;
  box-shadow: 0 0.188em 1.550em rgb(12, 12, 12);
  transition: 1s;

}

  .image2:hover {
    transform: scale(1.1);
    filter: blur(0);
    z-index: 1;
  }
  .blur-image{
    filter: blur(4px);
  }