.create{
    margin-top: 20%;
    color: black;
    font-family: 'Courier New', Courier, monospace !important;
}
.create-wrapper{
    display: table;
    margin: 0 auto;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 80%;
    text-align: center;
    box-shadow: 0 0.188em 1.550em rgb(53, 53, 53);
    margin-bottom: 10%;
}
.create-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    max-height: 600px;
    box-shadow: 0 0.188em 1.550em rgb(20, 20, 20);
    z-index: -2;
}
.margin{
    margin-top: 2%;
    margin-bottom: 1%;
}
.text-create{
    font-size: 1.5em;
}

  .create-btn-c {
    width: 25%;
    height: 1em;
    background-color: rgb(82, 59, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 3% auto;
    margin-top: 5%;
    margin-bottom: 5%;

}
.create-btn-size-c{
    font-size: 1.5em;
    color: aliceblue;
    padding: 3%;
    
}
.form-edit-create{
    width: 50%;
    height: 2.5em;
    font-size: 1em;
  }
.text-header-create{
    padding-top: 5%;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.2em;
    font-size: 2.8em;
}
.create-btn-c:hover {
    transform: scale(1.25);
  } 
  
@media (min-width: 206px) and (max-width: 768px) {
    .text-header-create {
      font-size: 1.5em;
    }
    .text-create{
        font-size: 0.8em;
    }
    .form-edit-create{
      width: 50%;
      height: 2em;
      font-size: 0.8em;
    }
    .create-wrapper{
      margin-top: 30%;
    }
    .create-btn-size-c{
        font-size:0.8em ;
    }
}

@media (min-width: 770px) and (max-width: 900px) {

  .text-header-create  {
    font-size: 2.3em;
  }
  .text-create{
      font-size: 1em;
  }
  .format-from{
    width: 50%;
    height: 2em;
    font-size: 1em;
  }
  .edit-wrapper{
    margin-top: 20%;
  }
  .create-btn-size-c{
    font-size:1em ;
}
}